@page "/start"

@using System.Text.Json
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Authorization
@using PersonalityGuru.Shared
@using PersonalityGuru.Shared.Models
@using System.Security.Claims
@rendermode InteractiveAuto
@inject NavigationManager NavManager
@inject HttpClient client
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage


@attribute [Authorize]

<PageTitle>Начать тест</PageTitle>

<AuthorizeView>
    <div class="d-flex flex-column" style="min-height: 93vh">
        <div class="d-flex align-middle flex-grow-1">
            <div class="col-5" />
            <div class="col-2 d-flex align-items-center justify-content-center">
                <div>
                    <div>
                        <h2>Добро пожаловать, @context.User.Identity?.Name!</h2>
                    </div>
                    <div>
                        <button class="btn btn-primary w-100" width="100%" @onclick="e => StartQuestionnaire(1)">Начать тест</button>
                        <h1></h1> <!--Wrong solution-->
                        <button class="btn btn-primary w-100" width="100%" @onclick="e => StartQuestionnaire(2)">Начать тестовый тест</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</AuthorizeView>

@code {

    private async Task StartQuestionnaire(int questionnaireId)
    {
        var userId = await GetUserId();
        if (userId == null) return;

        var request = new HttpRequestMessage(HttpMethod.Post, $"/api/users/{userId}/questionnaire/{questionnaireId}/start");
        request.Headers.Add("Origin", "https://localhost:7165");
        var response = await client.SendAsync(request);
        response.EnsureSuccessStatusCode();
        string sessionId = await response.Content.ReadAsStringAsync();
        NavManager.NavigateTo("/question/" + sessionId);
    }

    private void ToHomePage() => NavManager.NavigateTo("/");

    private async Task<string?> GetUserId() {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var all = user?.Claims.Select(x => new { x.Type, x.Value }).ToList();
        return user?.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
    }
 }