@implements IDisposable

@inject NavigationManager NavigationManager
@inject IStringLocalizer<NavMenu> Loc

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@Loc["NavBarHeader"]</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="start">
                <span class="bi bi-questionnaire-nav-menu" aria-hidden="true"></span> @Loc["TestOcean"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://instagram.com/alice_minko?igshid=qa53uavvg9d6" target="_blank">
                <span class="bi bi-instagram-nav-menu" aria-hidden="true"></span> @Loc["InstagramLink"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://t.me/aliceminko" target="_blank">
                <span class="bi bi-telegram-nav-menu" aria-hidden="true"></span> @Loc["TelegramLink"]
            </NavLink>
        </div>
        
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Алиса Минько
            </NavLink>
        </div> *@
        
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://youtube.com/&#64;aliceminko162?si=4sUZypm8MskMOr4T" target="_blank">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> YouTube
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

